<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>책 목록</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script>
        function kakaoBook(){
           let title=document.getElementById("title").value;
           //console.log(title);
           fetch("http://localhost:8081/api/books?title="+title)
           .then(response=>{
               if(!response.ok){
                  throw new Error("error");
               }
               return response.json();
            })
           .then(data=>{
              console.log(data); // 성공 ?
              // 동적인 뷰 만들기....
            })
           .catch(error=>{
               console.log(error);
           });
        }
    </script>
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Book List</h1>
    <form action="/" method="get">
        <!-- Use row and col classes for responsive layout -->
        <div class="row mb-3">
            <!-- Sort by -->
            <div class="col-md-4 col-sm-12 mb-2">
                <div class="form-group d-flex align-items-center">
                    <label for="title" class="mr-2 mb-0">Book Title:</label>
                    <input type="text" id="title" name="title" class="form-control"/>
                </div>
            </div>
            <!-- Apply button -->
            <div class="col-md-4 col-sm-12 mb-2">
                <button class="btn btn-success w-100" type="button" onclick="kakaoBook()">Book Search</button>
            </div>
        </div>
    </form>
    <!-- 책 목록 -->
    <div class="list-group mb-4">
        <div class="mb-4">
            <div class="card">
                <div class="card-body">
                    <!-- 게시물 제목 -->
                    <h4 class="card-title">Title</h4>
                    <!-- 게시물 내용 -->
                    <p class="card-text">Price</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>